<form action="{{ path('blog_comment_add',{postId:id}) }}" method="post">
    {{ form_errors(form) }}
    <table>
        <tr>
            <td colspan="2" align="center"><strong>Створення нового коментаря</strong></td>
        </tr>
        <tr>
            <td>{{ form_label(form.author, 'Автор:') }}</td><td>{{ form_widget(form.author) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.comment, 'Коментар:') }}</td><td>{{ form_widget(form.comment) }}</td>
        <tr>
            <td colspan="2" align="center"><input type="submit" value="Додати коментар"></td>
        </tr>
    </table>
    {{ form_rest(form) }}
</form>
